body {
    
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #464646;
    background-image: url(../img/go_board.jpg);
    background-attachment:fixed;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0;
}

h1 {
	font-size: 100px; 
}

h4 {
    font-size: 25px;
}

h5 {
    padding:10px;
}

p {
	font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
}

#header{
    text-align:center;
}


.transparent{
background:rgba(255,255,255,0.8);
}

.row{
    padding:25px;
}

/*#contact img {
    width: 15%;
    height: 15%;
    display: block;
}*/


@media screen and (max-width: 1100px) {
       h2 span { position: static; display: block; }
 }

@media screen and (max-width: 800px) {
    .about, .skills, .left-column, .right-column, .center-column {
        display: block; padding-left: 0; margin-left: 0; padding-bottom: 0;  text-align: left; width: 100%;
        margin-top: 6px; height: 100%;
    }
    body { background-image: url(../img/go_board.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    h1 {
        font-size: 50px;
    }

    h4 {
        font-size: 20px;
    }
    #contact a {
        display: inline-block;
        width: 50px;
    } 
    #contact a img {
        width: 100%;
    }
 }

